@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

html::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: white;
    background: rgb(0, 0, 0);
}




html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    color: #FD665E;
    font-family: 'Tinos', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    line-height: 15px;
}

.logo p {
    padding: 0 0 0 30px;
}

.header_warper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_warper nav a {
    padding-right: 20px;
}

.header_rightpart {
    display: flex;
    margin-top: 30px;
}

.header_rightpart svg {
    padding: 0 1vw;
}

.signup_button {
    background: #FD665E;
    padding: 16px;
    margin-left: 1vw;
    border-radius: 4px;
    transform: translateY(-17px);
}

.signup_button a {
    color: white;
}

.warper {
    margin: 0 auto;
    width: 80%;
}

.warper h1 {
    width: 50%;
    font-weight: bold;
    font-family: 'Tinos', serif;
    font-size: 100px;
    margin: 100px 0;
}

.red {
    color: #FD665E;
}

.introPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introPart p {
    margin: 0 10vw 100px 0;
    font-size: 20px;
}

.introPart a {
    color: white;
    background: #FD665E;
    padding: 16px;
    border-radius: 4px;
}

.introPart img {
    width: 60vw;
}

.warper h2 {
    margin: 100px auto;
    width: 30%;
    font-weight: bold;
    font-family: 'Tinos', serif;
    font-size: 40px;
    text-align: center;
}

.carusel {
    display: flex;
    justify-content: space-between;
}

.carusel img {
    object-fit: cover;
    width: 18vw;
}

.warper h3 {
    margin: 100px 0;
    width: 30vw;
    font-weight: bold;
    font-family: 'Tinos', serif;
    font-size: 40px;
}

.advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages_rigthPart {
    width: 50%;
}

.advantage svg {
    padding-right: 3vw;
}

.advantage {
    display: flex;
    margin-bottom: 100px;
}

.advantage article {
    font-size: 20px;
}

.advantage h6 {
    font-weight: bold;
    padding-bottom: 15px;
}

.button_contain {
    text-align: center;
}

.button_contain a {
    color: white;
    background: #FD665E;
    padding: 16px;
    border-radius: 4px;
}

.back {
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%)
}

.quote {
    margin: 0 0 0 25vw;
    display: flex;
}

.quote p {
    font-size: 20px;
    width: 50%;
    line-height: 30px;
}

.quote svg {
    padding-right: 50px;
}

.quote_bold {
    font-weight: bold;
}

.quote h6 {
    margin-top: 20px;
    font-size: 18px;
}

.relizedream {
    display: flex;
    margin: 150px 0;
    justify-content: space-between;
}

.relizedream img {
    width: 30vw;
    object-fit: cover;
}

.relizedream article {
    width: 50%;
    margin: 300px 0 0 0;
}

.relizedream p {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Tinos', serif;
}

.button_contain1 {
    margin-top: 100px;
}

.button_contain1 a {
    color: white;
    background: #FD665E;
    padding: 16px;
    border-radius: 4px;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.partners img {
    /* width: 8vw; */
    height: 70px;
    object-fit: cover;
}

footer {
    border-top: #F0F0F0 1px solid;
    margin: 200px 0 0 0;
    padding: 80px 0;
}

.footer_warper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_warper nav a {
    padding-right: 2vw;
    font-size: 20px;
}

.logo1 {
    color: #FD665E;
    font-family: 'Tinos', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 15px;
}

.logo1 p {
    padding: 0 0 0 30px;
}

.menuBurg {
    display: none;
}

@media screen and (max-width: 1440px) {

    .first_main img {
        width: 32vw;
    }

    .second_main img {
        width: 32vw;
    }

    .therd_main img {
        width: 32vw;
    }

    .second_main h3 {
        left: 83%;
    }

    .first_main h3,
    .therd_main h3 {
        left: 0;
    }
}

@media screen and (max-width: 1366px) {

    .warper h1 {
        width: 60vw;
    }

    .introPart img {
        width: 40vw;
        object-fit: cover;
        height: 400px;
    }

    .advantages img {
        width: 35vw;
    }

    /* .partners img {
        width: 5vw;
        height: inherit;
        object-fit: inherit;
    } */
    .part {
        display: none;
    }
}

@media screen and (max-width: 880px) {

    .header_warper nav,
    .acc,
    .navSite,
    .mainpart h2 {
        display: none;
    }

    .warper h1 {
        font-size: 10vw;
    }

    .header_rightpart {
        display: none;
    }

    .menuBurg {
        margin-top: 5px;
        display: block;
    }

    .introPart {
        flex-direction: column-reverse;
    }

    .introPart img {
        width: 80vw;
    }

    .introPart p {
        margin-top: 20px;
    }

    .warper h2 {
        width: 50vw;
    }

    .carusel img {
        width: 40vw;
    }

    .warper h3 {
        width: 50vw;
    }

    .advantages {
        flex-direction: column;
    }

    .advantages img {
        width: 80vw;
        height: 400px;
        object-fit: cover;
    }

    .advantages_rigthPart {
        margin-top: 100px;
        width: 80vw;
    }

    .quote p {
        width: 80vw;
    }

    .quote {
        margin: 0;
        display: block;
    }

    .relizedream {
        flex-direction: column-reverse;
        margin: 0 0 150px;
    }

    .relizedream article {
        width: 80vw;
        text-align: center;
    }

    .carusel {
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 650px) {

    .introPart p {
        font-size: 4vw;
    }

    .footer_warper {
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo1 {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 450px) {

    .relizedream p {
        font-size: 10vw;
    }
    .warper h3{
        width: 80vw;
    }
    .warper h2{
        width: 80vw;
    }
    .introPart{
        margin-top: -80px;
    }
    .introPart p{
        margin: 20px 10vw 50px 0;
    }
    .footer_warper nav a{
        padding: 10px;
    }
    .footer_warper nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .relizedream img{
        display: none;
    }
}

@media screen and (max-width: 350px) {

    .introPart img{
        height: 200px;
    }
    .introPart a, .button_contain a{
        font-size: 12px;
    }
    .warper h2{
        font-size: 30px;
    }
    .warper h3{
        font-size: 30px;
    }
    .advantage h6{
        font-size: 5vw;
    }
    .advantage p{
        font-size: 4vw;
    }
    
}